.main-footer {
    color: black;
    padding-top: 3em;
    bottom: 0;
    width: 100%;
    background-color: #fbfdff;
    text-align: center;
  }
  .main-footer ul {
    text-align: left;
    margin-left: 33%;
  }
  .main-footer a{
    color: black;
    text-decoration: none;
    display: block;
  }
  .main-footer svg{
    font-size: 20px;
    margin-right: 8px;
  }
  .name{
    width: 33%;
  }